numpy==1.26.4
pandas==2.2.2
scipy==1.13.0
matplotlib==3.8.4
seaborn==0.13.2
bokeh==3.4.1
jupyterlab==4.2.0
jupyter-server==2.14.0
jupyterlab-server==2.27.1
ipykernel==6.29.4
ipython==8.18.1
scikit-learn==1.4.2
sympy==1.12