--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
torchvision==0.21.0+cpu
torchaudio==2.6.0+cpu
numpy==2.2.1
pandas==2.2.3
scipy==1.15.0
matplotlib==3.10.0
seaborn==0.13.2
jupyterlab==4.3.4
ipython==8.31.0
ipykernel==6.29.5
scikit-learn==1.6.1
tqdm==4.67.1
